@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  background-color: #22272e;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
}

.txt-white {
  color: #FFFFFF;
}

.limit-container {
  max-width: 1280px;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  margin: 4rem 0;
}

.image-container {
  border-radius: 100%;
  height: 250px;
  overflow: hidden;
  width: 250px;
}

.image-container img {
  height: 250px;
  width: 250px;
}

.text-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.text-container h1 {
  font-size: 3rem;
}

.text-container h4 {
  font-size: 1.5rem;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: center;
  margin-top: 2rem;
  padding: 10px;
  width: 100%;
}

.nav-links a {
  cursor: pointer;
}

@media (max-width: 500px) {
  main {
    gap: 2rem;
    margin: 2rem 0;
  }

  .image-container {
    height: 200px;
    width: 200px;
  }

  .image-container img {
    height: 200px;
    width: 200px;
  }

  .text-container h1 {
    font-size: 2rem;
  }

  .nav-links {
    margin-top: 1rem;
  }
}